#root{
    height: inherit;
    width: inherit;
}

.App{
    height: inherit;
    width: inherit;
}

#content{
    height: 100vh;
}

.surveysContainer{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0px 10px;
}

.homeContainer{
    width: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}