/* Roboto Font */
@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular')
         local('Roboto-Regular')
         url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf')
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold')
         local('Roboto-Bold')
         url(../fonts//Roboto/Roboto-Bold.ttf) format('ttf')
}

@font-face{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic')
         local('Roboto-Italic')
         url(../fonts/Roboto/Roboto-Italic.ttf) format('ttf')
}

@font-face{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bolditalic')
         local('Roboto-Bolditalic')
         url(../fonts/Roboto/Roboto-BoldItalic.ttf) format('ttf')
}

/* Pacifico Font */
@font-face{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular')
         local('Pacifico-Regular')
         url(../fonts/Pacifico/Pacifico-Regular.ttf) format('ttf')
}