

%navItem{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: inherit;
    justify-content: flex-start;
    margin: 0px 5px;

}

.navItemContainer{
    @extend %navItem; 
    &Icon{
        margin: 0px 5px;
        width: 50px;
        font-size: 1.2em;
    }
    &Link{
        font-size: 1.2em;
    }
}

.lColor{
    color: #fff;
    &a:hover{
        color: hsla(0,0%,100%,.7)
    }
}

.mColor{
    color: black;
    & a:hover{
        color: grey;
    }
}


