$icon-color: purple;
$large-icon-size: 20em;

.align-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.align-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.align-self-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.position-absolute{
    position: absolute;
}

.full-page{
    height: 100%;
    width: 100%;
}

.z-index-1{
    z-index: 1;
}

.large-icon{
    font-size: $large-icon-size;
}

.color{
    color: $icon-color;
}